body {

    margin: 0;
    padding: 0;
    background-color: rgb(203, 192, 211);
    color: rgb(79, 89, 91);
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.content_form {
    background-color:rgb(247, 225, 215);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form label {
    font-weight: bold;
}

form button {
    height: 25px;
    color: rgb(247, 225, 215);
    background-color: rgb(74, 87, 89);
    border: none;
    border-radius:10px;
}

.board {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin-right: 40px; /* Добавили отступ между колонками */
}

.title_column {
    margin-bottom: 15px;
}

.task {
    margin-bottom: 30px;
    padding: 15px; /* Добавили отступы внутри задачи */
    border-radius: 20px;
    background-color:rgb(247, 225, 215);
    box-shadow: 0 2px 4px rgb(247, 225, 215);
}
